*{
    margin: 0;
    padding: 0;
}

#root{
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
html, body
 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    background: #000;
}

button{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

#buttons{
    height: 20vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#jokes{
    align-items: center;
    
    flex-direction: column;
    justify-content: center;
}

.background{
    display: block;
    width: 60vw;
}